* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "Qanelas";
  src: url("/fonts/Qanelas-Regular.eot");
  src: url("/fonts/Qanelas-Regular.eot?#iefix") format("embedded-opentype"),
    url("/fonts/Qanelas-Regular.woff") format("woff"),
    url("/fonts/Qanelas-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Qanelas";
  src: url("fonts/Qanelas-Bold.eot");
  src: url("fonts/Qanelas-Bold.eot?#iefix") format("embedded-opentype"),
    url("fonts/Qanelas-Bold.woff") format("woff"),
    url("fonts/Qanelas-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

body {
  font-family: "Qalenas", sans-serif;
}

button {
  font-family: "Qalenas", sans-serif;
}

input {
  font-family: "Qalenas", sans-serif;
}

.section {
  display: flex;
  justify-content: center;
}

.container {
  width: 100%;
  max-width: 1170px;
}

.header {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  z-index: 100;
}

.header__container {
  padding: 7px 0 13px 0;
  border-bottom: 1px solid rgb(255, 255, 225, 0.2);
  max-width: 1440px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__nav {
  display: flex;
  align-items: center;
  gap: 40px;
}

.header__nav-link {
  text-decoration: none;
  color: #ffffff;
  font-size: 16px;
  font-weight: bold;
}

.header__buttons {
  display: flex;
  align-items: center;
}

.header__button {
  font-size: 16px;
  font-weight: bold;
  border-radius: 10px;
}

.header__button:hover {
  color: black;
  cursor: pointer;
}

.header__button_login {
  background: none;
  color: #ffffff;
  padding: 15px 30px;
  border: 1px solid;
  transition: 0.4s;
}

.header__button_login:hover {
  background: #ffffff;
}

.header__button_register {
  margin-left: 16px;
  padding: 15px 28px;
  border: 1px solid #ffffff;
  transition: 0.4s;
}

.header__button_register:hover {
  background: transparent;
}

.main {
  background: url(../img/Background.svg) center/cover;
  padding-top: 138px;
  padding-bottom: 109px;
  position: relative;
}

.main__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.main__logos {
  position: absolute;
  bottom: 0;
}

.main__logo-small {
  right: 460px;
}

.main__logo-big {
  right: 58px;
}

.main__title {
  color: #ffffff;
  font-size: 60px;
  font-weight: normal;
}

.main__description {
  margin-top: 39px;
  font-size: 22px;
  color: #ffffff;
  font-weight: normal;
}

.main__button {
  margin-top: 88px;
  font-size: 17px;
  font-weight: bold;
  color: black;
  padding: 24px 82px;
  border-radius: 10px;
  border: 0;
  transition: 0.4s;
}

.main__button:hover {
  cursor: pointer;
  background: transparent;
  color: #ffffff;
  border: 1px solid #ffffff;
}

.content {
  padding-top: 114px;
}

.content__title {
  display: flex;
  justify-content: center;
  font-size: 42px;
  font-weight: bold;
}

.content__features {
  padding-top: 177px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.content__features-icons {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}


.content__features-text {
  font-size: 28px;
  font-weight: bold;
}

.content__features-text_first {
  padding-top: 30px;
}

.content__features-text_second {
  padding-top: 35px;
}

.content__features-text_third {
  padding-top: 20px;
}

.content__pg {
  padding-top: 19px;
  font-size: 18px;
  font-weight: normal;
  color: #757575;
}