* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.section {
  display: flex;
  justify-content: center;
}

.container {
  width: 100%;
  max-width: 1170px;
}

.header {
  padding: 25px 0;
  border-bottom: 1px solid #ffffff;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  z-index: 100;
}

.header .container {
  max-width: 1440px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header_nav {
  display: flex;
  align-items: center;
  gap: 40px;
}

.header_nav a {
  align-items: center;
  text-decoration: none;
  color: #ffffff;
  font-size: 16px;
}

.header_btn {
  display: flex;
  align-items: center;
}

.btn_left {
  font-size: 16px;
  border-radius: 10px;
  background: none;
  color: #ffffff;
  padding: 10px;
  border: 1px solid;
}

.btn_right {
  margin-left: 16px;
  font-size: 16px;
  padding: 10px;
  border: 1px solid #ffffff;
  border-radius: 10px;
}

.main {
  background: url(img/Background.svg) center/cover;
  height: 100dvh;
  padding-top: 91px;
}

.main .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.main_logo_1 {
  position: absolute;
  bottom: 0;
  right: 430px;
}

.main_logo_2 {
  position: absolute;
  bottom: 0;
  right: 58px;
}

.main h1 {
  color: #ffffff;
  font-size: 60px;
}

.main h4 {
  margin-top: 39px;
  font-size: 22px;
  color: #ffffff;
}

.main button {
  margin-top: 88px;
  font-size: 17px;
  color: black;
  padding: 17px 25px;
  border-radius: 10px;
}

.main_content {
  display: flex;
  justify-content: center;
  padding-top: 111px;
}

.main_content img {
  color: #ffffff;
}
