* {
  padding: 0;
  margin: 0;
}

body {
  background: url(img/Background.svg);
  background-size: cover;
}

.section {
  display: flex;
  justify-content: center;
}

.container {
  width: 100%;
  max-width: 1440px;
}

.header {
  padding-top: 25px;
}

.header .container {
  display: flex;
  justify-content: space-between;
}

.header_left {
  padding-left: 30px;
}

.header_nav {
  display: flex;
  gap: 40px;
}

.header_nav:not(:first-child) {
  padding-left: 131px;
}

.header_nav a {
  align-items: center;
  text-decoration: none;
  color: #ffffff;
  font-size: 16px;
}

.header_right {
  display: flex;
  align-items: center;
  padding-left: 125px;
  padding-right: 25px;
}

.header_btn {
  display: flex;
  gap: ;
}

.btn_left {
  font-size: 16px;
  border-radius: 10px;
  padding: 4px 5px;
  border: 0.5px;
  gap: 5px;
  background: none;
  color: #ffffff;
}


.main h1 {
  padding-top: 68px;
  padding-left: 147px;
  color: #ffffff;
  font-size: 60px;
}

.main h4 {
  padding-top: 39px;
  padding-left: 147px;
  font-size: 22px;
  color: #ffffff;
}

.main_btn {
  padding-top: 88px;
  padding-left: 147px;
}

.main button {
  font-size: 17px;
  color: black;
  padding: 17px 25px;
  border-radius: 10px;
}

.main_content {
  display: flex;
  justify-content: center;
  padding-top: 111px;
}

.main_content img {
  color: #ffffff;
}
